# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.db
*.sqlite3-journal
*.dat
*.sqlite
*.pdb

# Django migrations
**/migrations/

# Static and media files
static/
media/

# Local environment variables
.env
.env.local
.env.production
.env.testing

# Django secret key
*.key

# Django stuff:
*.log
*.pot
local_settings.py

# Translations
*.mo
*.pot

# Django extensions
*.scssc

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule
celerybeat.pid

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
coverage/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.swp
*~
.project
.pydevproject
*.sublime-project
*.sublime-workspace
.DS_Store

# VS Code
.vscode/
.history/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
